/* CSS declarations go here */

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .brand {
  padding: 8px 22px 10px;
}

.navbar-inner {
  padding: 5px;
}

.navbar .nav > li > a {
  padding: 10px 30px 10px;
}

#header {
  margin: 5em 0;
}

ul.nav {
  font-family: "Rambla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.text {
  text-align: justify;
}

.text p {
 font-size: 16px;
}
