ul.schedule {
 list-style: none;
 margin: 1em 0;
}

ul.schedule > li {
 padding: 12px 0;
 border-bottom: 1px solid #ddd;
}

ul.schedule > li.main > div {
 font-size: 18px;
}

ul.schedule > li > div {
 font-size: 16px;
}
