body {
  color: white;
  padding-top: 80px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  background: #757575; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #757575 20%, #626262 80%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#757575), color-stop(100%,#626262)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #757575 0%,#626262 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #757575 0%,#626262 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #757575 0%,#626262 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #757575 0%,#626262 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#626262',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;

  hr {
    margin: 30px 0;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  font-family: "Minion Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 30px 0;
  text-align: center;

  h1 {
    font-size: 72px;
    line-height: 1;
  }

  p {
    font-size: 32px;
    line-height: 1.1em;
    margin: 15px 4em;
    &.when {
      font-size: 23px;
    }
  }

  .btn-disable {
    background-color: #676767;
    background-image: linear-gradient(to bottom, #CCCCCC, #888888);
    color: #555555;
    pointer-events: none;
  }

  .btn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 22px;
    margin: 0 0.5em;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;

  p, h4 {
    margin-top: 28px;
  }
}

a {
  &:hover { 
    text-decoration: none;
  }
 
  &.thumbnail {
    border: 1px solid #DDDDDD; 
    color: #626262;
    background-color: #d2d2d2;
    padding: 10px;
    height: 10em;

    &:hover { 
      border: 1px solid #DDDDDD; 
      background-color: #e2e2e2;
    }

    .discussion {
      h2 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1em;
        font-size: 20px;
      }
    }
  }
}

iframe {
  align: center;
  border: 1px solid #DDDDDD;
  padding: 1%;
  width: 97%;
}

.footer {
 font-size: 12px;
 text-align: center;
}
